
<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>List of Flats</h1>
      <div style="width: 100%; height: 200px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
    <div class="small-btn">
      <%= link_to "New flat", new_flat_path, style: "text-decoration: none; color: white;" if policy(Flat).new? %>
    </div>
  <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: flats_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Type a keyword"
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col-md-4">
        <div class="flat-card">
        <% if flat.photo.attached? %>
          <div class="flat-card-image" style="background-image: url(<%= cl_image_path flat.photo.key %>);"></div>
          <% else %>
          <div class="flat-card-image" style="background-image: url('https://images.unsplash.com/photo-1568605114967-8130f3a36994?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8aG91c2V8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=800&q=60')"></div>
          <% end %>
          <div class="flat-card-content">

              <h4><%= link_to flat.name, flat_path(flat), class: 'flat-card-title' %></h4>
            <% if flat.description && flat.description.length > 120 %>
            <p style="height: 60px; overflow: hidden;"><%= flat.description.first(120)%>...</p>
            <% else  %>
            <p style="height: 60px; overflow: hidden;"><%= flat.description%></p>
            <% end %>
            <div class="flex">
              <div style="height: 60px; overflow: hidden;" class="flex">
                <i class="material-icons me-2">address</i><span><%= flat.address %></span>
              </div>
                <div class="flex">
                <i class="fa-solid fa-euro-sign"></i> <%= flat.price %> per night
                  <%= link_to "More info", flat_path(flat), class: "yellow-btn" %>
              </div>

            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
