<body>

<div class="map" style="background-image: url('<'https://images.unsplash.com/photo-1568605114967-8130f3a36994?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8aG91c2V8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=800&q=60')"></div>

<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="flat-show-card">
      <%= cl_image_tag @flat.photo.key, height: 300, width: 400, crop: :fill %>
        <h1><%= @flat.name %></h1>
          <p class="font-weight-bold"><%= @flat.price %>€ per night</p>
        <p class="flat-show-address"><%= @flat.address %></p>
      </div>
      <div class="flat-show-card">
        <h3>A bit more about this flat...</h3>
        <p><%= @flat.description %></p>
        <% if policy(@flat).edit? %>
          <%= link_to "Edit this flat", edit_flat_path(@flat) %> |
        <% end %>
        <%= button_to "Destroy this flat", @flat, method: :delete if policy(@flat).destroy?  %>
        <div class="map" style="background-image: <iframe src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193596.01069210097!2d-74.14482926864332!3d40.69737043442232!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2snl!4v1693126430000!5m2!1sen!2snl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
      </div>
    </div>

    <div class="col-4">
      <div class="flat-show-card">
        <h5>Book now!</h5>


        <%= simple_form_for [@flat, @booking] do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

          <div class="form-inputs">
            <%= f.input :date, as: :date, html5: true %>
            <%= f.input :date, as: :date, html5: true %>
            <%= f.input :people %>

          </div>

          <div class="form-actions">
            <%= f.button :submit, class: "btn btn-primary" %>
          </div>
        <% end %>
        <h5>Bookings! </h5>
        <div class= "bookings_class">
     <% @flat.bookings.each do |booking|  %>
     <p>Booked on </p>
     <%= booking.date %>
     <p> Booked for </p>
     <%= booking.people %>
     <% end %>
        </div>
  </div>
</div>
</body>
