<div class="container">
  <div class="row">
    <div class="col">
      <h3>Hello <%= current_user.username.capitalize %>, Welcome to your booking dashboard! </h3>
      <div class="table-position">
        <h4>Your flat(s):</h4>
        <table>
          <thead>
            <tr>
              <th>Booking Id</th>
              <th>Check-In</th>
              <th>Check-Out</th>
              <th>Renter</th>
              <th>Flat</th>
              <th>Price</th>
              <th>Booking status</th>
              <%# <th>Owner</th> %>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @bookings.each do |booking| %>
              <tr>
                <% if (booking.flat.user.id == current_user.id)  %>
                  <td> <%= booking.id %></td>
                  <td> <%= booking.checkin %></td>
                  <td> <%= booking.checkout %></td>
                  <td> <%= booking.user.username %> </td>
                  <td> <%= link_to booking.flat.name , flat_path(booking.flat.id), class: "btn btn-info"  %></td>
                  <td> <%= booking.flat.price * (Booking.last.checkout - Booking.last.checkin).to_i %></td>

                  <% if booking.booking_status? %>
                    <td> Validated </td>
                  <% else %>
                    <td> Not confirmed </td>
                  <% end %>
                  <%# <td><%= booking.flat.user.id %>
                  <td>
                        <% if booking.booking_status? %>
                          <%= button_to "Cancel Reservation", update_status_booking_path(booking), data: {method: "post"}, class: "btn btn-danger", data: { turbo_confirm: "Are you sure you want to update the booking status?" } %>
                        <% else %>
                          <%= button_to "Confirm Reservation", update_status_booking_path(booking), data: {method: "post"}, class: "btn btn-success", data: { turbo_confirm: "Are you sure you want to update the booking status?" } %>
                        <% end %>


                  </td>
                  <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="table-position">
        <h4>Your booking(s):</h4>
        <table>
          <thead>
            <tr>
              <th>Booking Id</th>
              <th>Check-In</th>
              <th>Check-Out</th>
              <th>Flat</th>
              <th>Price</th>
              <th>Booking status</th>
              <th>Owner</th>
              <%# <th>Action</th> %>
            </tr>
          </thead>
          <tbody>
            <% @bookings.each do |booking| %>
              <tr>
                <% if booking.user.id == current_user.id  %>
                  <td> <%= booking.id %></td>
                  <td> <%= booking.checkin %></td>
                  <td> <%= booking.checkout %></td>
                  <td> <%= link_to booking.flat.name , flat_path(booking.flat.id), class: "btn btn-info"  %></td>
                  <td> <%= booking.flat.price * (Booking.last.checkout - Booking.last.checkin).to_i %></td>

                  <% if booking.booking_status? %>
                    <td> Validated </td>
                  <% else %>
                    <td> Not confirmed </td>
                  <% end %>
                  <td><%= booking.flat.user.username.capitalize %></td>
                  <%# <td>
                    <%= link_to "Delete", booking_path(booking), data: {method: "delete"} if policy(booking).destroy? %>
                  <%# </td>  %>
                  <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="button-container">
        <%= link_to "Refresh", bookings_path, class: "btn button-booking" %>
        <%= link_to "Back to flats list", flats_path, class: "custom-button" %>
      </div>
    </div>
  </div>
</div>
